lsi: false
safe: true
#source: SebiSchlegel.github.io
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

domain: elsamaneval.github.io       
url: https://https://elsamaneval.github.io
